/*GENERAL RULES*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100%;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

/**Page Header**/

.page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FCE2B8;
}

.logo {
    margin: 10px;
}

.website-name {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;

}

.website-name > h1 {
    font-family: 'Amita', cursive;
    font-weight: bolder;
}

.website-name > h2 {
    font-family: 'Arima', cursive;
    font-weight: 500;
}

.accordion-header-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.accordion, .end-nav, .up {
    transition: 0.5s;
    text-align: center;
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px;
    margin: 8px 15px 8px 15px;
    background-color: burlywood;
    color: black;
    border-radius: 8px;
    cursor: pointer;
}

.accordion:after {
    content: '\2B9F';
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.active:after {
    content: "\2B9D";
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
  }

.panel {
    display: none;
    overflow: hidden;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px;
}

/**Divider**/

.divider {
    position: relative;
}

.wave-divider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave-divider svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 109px;
}

.wave-divider .shape-fill {
    fill: #FCE2B8;
}

.divider-empty {
    height: 100px;
    width: 100%;
    background-color: white;
}

/**Main Section - Home Page**/

.section-title {
    text-align: center;
    font-family: 'Amita', cursive;
    font-size: 20px;
    margin-bottom: 10px;
}

/***Hero Slider***/

.title {
    font-family: 'Arima', cursive;
    text-align: center;
    text-transform: uppercase;
}

.slider-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    background-color: #FCE2B8;
}

.slider-button {
    background-color: burlywood;
    border-radius: 10%;
    height: 30px;
    width: 35px;
    cursor: pointer;
    margin: 10px;
}

.slides-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 13px;
}

.slides-container > h6 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Arima', cursive;
}

.slides-container > h3 {
    font-family: 'Arima', cursive;
    text-align: center;
    margin: 15px auto 15px auto;
}

.read {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    border-radius: 10%;
    background-color: burlywood;
    display: block;
    margin: 20px auto 20px auto;
}

.slides {
    border-radius: 50%;
    display: block;
    margin: auto;
}

.slider-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 50px;
    background-color: #FCE2B8;
}

/****Featured Collections****/

.collections-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: fit-content;
}

.collection-img {
    max-width: 50vw;
    border-radius: 10%;
    display: block;
    margin: auto;
}

.collection-name {
    font-family: 'Arima', cursive;
    text-align: center;
    text-transform: uppercase;
    margin: 15px auto 15px auto;
}

.collection-descr {
    font-family: 'Arima', cursive;
    text-align: center;
    margin: 10px auto 10px auto;
}

.collections-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 50px;
}

/*****About This Blog Flip Cards*****/
.flip-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    flex-wrap: wrap;
    background-color: #FCE2B8;
    padding: 20px;
}

.flip-card {
    background-color: transparent;
    width: 400px;
    height: 400px;
    perspective: 1000px;
    margin: 15px;
    border-radius: 8px;
    box-shadow: rgb(97, 50, 50) 0 2px 2px 0;
  }

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 8px;
    border: 2px solid burlywood;
  }

.flip-title {
    font-family: 'Arima', cursive;
    text-align: center;
    text-transform: uppercase;
    margin: 15px auto 15px auto;
    font-size: 20px;
}

.flip-card-front {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

 .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

.flip-card-front {
    background-color: white;
    color: black;
    border-radius: 8px;
  }
  
.flip-card-back {
    background-color: burlywood;
    transform: rotateY(180deg);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.flip-text {
    font-family: 'Arima', cursive;
    text-align: center;
    padding: 5px;
}

.divider-diamond {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.diamond {
    height: 20px;
    width: 20px;
    background-color: burlywood;
    border: 1px solid black;
    box-shadow: rgb(92, 85, 83) 0 2px 2px 0;
    transform: rotate(45deg);
    margin: 5px;
    animation-name: color-change;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes color-change {
    from {background-color: burlywood;}
    to {background-color: white;}
}

/*YT Videos*/

.video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

/*Links to checklist and course*/

.link-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.link {
    height: 200px;
    width: 300px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    border-radius: 10%;
    background-color: burlywood;
    display: block;
    margin: 20px;    
}

/*Articles*/

article h3 {
    font-family: 'Amita', cursive;
    font-weight: 800;
    font-size: 30px;
    text-align: center;
}

article h4 {
    font-family: 'Arima', cursive;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    padding: 5px;
}

article p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    text-align: justify;
    padding: 10px;
}

article h5 {
    font-family: 'Arima', cursive;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    padding: 5px;
    margin-top: 15px;
}

article h6 {
    font-family: 'Arima', cursive;
    font-weight: 600;
    font-size: 15px;
    font-style: italic;
    text-align: center;
    padding: 5px;
    margin-top: 15px;
}

article img {
    display: block;
    margin: auto;
}

.caption {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    text-align: center;
    padding: 5px;
}


.other-articles {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: -15px;
}

.article-footer p, time {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    text-align: center;
    padding: 5px;
}

.index {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.end-nav-flip-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    flex-wrap: wrap;
    background-color: transparent;
    padding: 10px;
}

/*Articles by Date and Author*/

.list-title {
    font-family: 'Arima', cursive;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    margin: 25px;
}

.article-list-header {
    font-family: 'Arima', cursive;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    margin: 10px;
}

.article-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.article-list li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    text-align: center;   
}

.article-list a:hover {
    text-decoration: underline;
}

/**Page Footer**/

footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-family: 'Arima', cursive;
    background-color: burlywood;
}

.row-footer {
    display: flex;
}

.column-footer {
    flex: 50%;
}

/*SMALLER SCREENS*/

@media (max-width:400px) {
    /*Page Header*/
    .logo {
        height: 80px;
        width: 80px;
    }

    .website-name > h1 {
        font-size: 18px;
        margin-left: 10px;
    }

    .website-name > h2 {
        font-size: 12px;
    }

    .panel {
        font-size: 10px;
    }

    /**Main Section**/
    /***Hero Slider***/

    .title {
        font-size: 25px;
    }

    .slides {
        width: 120px;
        height: 120px;
    }

    .slides-container > h6 {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .slides-container > h3 {
        font-size: 20px;
    }

    /****Featured Collections****/

    .collection-name {
        font-size: 20px;
    }

    .collection-descr {
        font-size: 15px;
    }

    .collection-name-img > img {
        height: 50%;
        width: 50%;
    }

    /*Links to checklist and course*/

    .link {
        font-size: 12px;
        
    }
}

/*Articles*/

article img {
    max-width: 350px;
}

/*Articles by Date and Author*/

.article-list li {
    font-size: 13px;
}

/*MEDIUM SCREENS*/

@media (min-width:401px) and (max-width:600px) {
    /*Page Header*/
    .logo {
        height: 120px;
        width: 120px;
    }

    .website-name > h1 {
        font-size: 20px;
        margin-left: 20px;
    }

    .website-name > h2 {
        font-size: 14px;
    }

    .panel {
        font-size: 12px;
    }

    /**Main Section**/
    /***Hero Slider***/

    .title {
        font-size: 25px;
    }

    .slides {
        width: 300px;
        height: 300px;
    }

    .slides-container > h6 {
        font-size: 17px;
        margin-bottom: 10px;
    }

    .slides-container > h3 {
        font-size: 30px;
    }

    /****Featured Collections****/

    .collection-name {
        font-size: 25px;
    }

    .collection-descr {
        font-size: 20px;
    }

    .collection-name-img > img {
        height: 50%;
        width: 50%;
    }

    /*Links to checklist and course*/

    .link {
        font-size: 15px;

    }

    /*Articles*/

    article img {
        max-width: 500px;
    }

    /*Articles by Date and Author*/

    .article-list li {
        font-size: 14px;
    }

}

/*MEDIUM SCREENS 2*/

@media (min-width:601px) and (max-width:1000px) {
    /*Page Header*/
    .logo {
        height: 150px;
        width: 150px;
    }

    .website-name > h1 {
        font-size: 25px;
        margin-left: 20px;
    }

    .website-name > h2 {
        font-size: 17px;
    }

    .panel {
        font-size: 15px;
    }

    /**Main Section**/
    /***Hero Slider***/

    .title {
        font-size: 40px;
    }

    .slides {
        width: 400px;
        height: 400px;
    }

    .slides-container > h6 {
        font-size: 17px;
        margin-bottom: 10px;
    }

    .slides-container > h3 {
        font-size: 30px;
    }

    .slider-nav {
        margin-right: 10px;
    }

    .slider-button {
        margin: 20px;
    }

    /****Featured Collections****/

    .collection-name {
        font-size: 25px;
    }

    .collection-descr {
        font-size: 20px;
    }

    .collection-name-img > img {
        height: 50%;
        width: 50%;
    }

    /*Links to checklist and course*/

    .link {
        font-size: 15px;
        
    }

     /*Articles*/

     article img {
        max-width: 500px;
    }

    /*Articles by Date and Author*/

    .article-list li {
        font-size: 16px;
    }

}

/*BIGGER SCREENS*/

@media (min-width:1001px) {
    /*Page Header*/
    .logo {
        height: 200px;
        width: 200px;
    }

    .website-name > h1 {
        font-size: 30px;
        margin-left: 30px;
    }

    .website-name > h2 {
        font-size: 22px;
    }

    .panel {
        font-size: 18px;
    }

    /**Main Section**/
    /***Hero Slider***/

    .title {
        font-size: 50px;
    }

    .slides {
        width: 500px;
        height: 500px;
    }

    .slides-container > h6 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .slides-container > h3 {
        font-size: 35px;
    }

    .slider-nav {
        margin-left: 15px;
    }

    .slider-button {
        margin: 25px;
    }

    /****Featured Collections****/

    .collection-name {
        font-size: 30px;
    }

    .collection-descr {
        font-size: 25px;
    }

    .collection-name-img > img {
        height: 50%;
        width: 50%;
    }

    /*Links to checklist and course*/

    .link {
        font-size: 20px;
        
    }

     /*Articles*/

     article img {
        max-width: 500px;
    }

    /*Articles by Date and Author*/

    .article-list li {
        font-size: 20px;
    }

}